<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <script src="/js/home/register.js" defer></script>
   <!--defer 속성은 <script> 태그에 사용되어, 외부 스크립트 파일을 HTML 문서가 모두 파싱된 후에 실행하도록 지시합니다. 즉, 스크립트가 실행되는 동안 HTML 파싱이 중단되지 않고 계속 진행됩니다.-->
    <title>Document</title>
</head>

<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="id" type="text" placeholder="username"/>
            <input id="name" type="text" placeholder="name"/>
            <input id="password" type="password" placeholder="password"/>
            <input id="confirm-password" type="password" placeholder="password-Check"/>
            <p id="button">sign up</p>
            <p class="message">Already registered? <a href="/login">login</a></p>
          </form>
        </div>
      </div>
</body>

</html>